@font-face {
  font-family: 'swistblnk_monthoersregular';
  src: url("../fonts/monthoers/Monthoers-webfont.eot");
  src: url("../fonts/monthoers/Monthoers-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/monthoers/Monthoers-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #333; }
  body.customize-support #navigation {
    top: 32px; }

a {
  text-decoration: none;
  font-weight: 200;
  color: inherit;
  outline: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: none; }

p {
  font-size: 18px;
  max-width: 650px;
  font-weight: 200;
  margin: 0 auto;
  margin-bottom: 30px; }

ul {
  margin-bottom: 30px; }

.fade {
  opacity: 0; }

.btn {
  line-height: 34px;
  min-width: 150px;
  border-width: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit;
  background-color: transparent;
  font-weight: bold; }
  .btn.white {
    border-color: #fff;
    color: #fff; }

.parallax-window {
  min-height: 400px;
  background: transparent; }

.container-fluid {
  background-color: #fff;
  color: #777;
  position: relative; }
  .container-fluid.content > .row {
    max-width: 1000px;
    margin: 0 auto; }
  .container-fluid h5 {
    text-transform: uppercase; }
  .container-fluid h3 {
    font-size: 50px;
    /*text-transform: lowercase;*/
    /*font-family: 'swistblnk_monthoersregular';*/
    font-weight: 200;
    letter-spacing: 1px; }

.row {
  padding: 0 50px;
  margin: 0; }

#navigation {
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin: 0;
  /*font-family: 'swistblnk_monthoersregular';*/
  text-transform: lowercase;
  font-size: 22px;
  letter-spacing: 0.5px;
  /*transition: 30ms;*/ }
  #navigation h1#logo {
    display: inline-block;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 44px; }
    #navigation h1#logo img {
      height: 80px; }
  #navigation a:hover {
    background-color: transparent;
    color: inherit; }
  #navigation.dark {
    background-color: #4D454D; }

#side-menu {
  background: #222;
  color: #eee;
  position: fixed;
  height: 100%;
  width: 300px;
  right: -300px;
  z-index: 99999;
  transition: 1s;
  /*font-family: 'swistblnk_monthoersregular';*/
  text-transform: lowercase;
  font-size: 22px;
  letter-spacing: 0.5px; }
  #side-menu .close-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }
  #side-menu.open {
    right: 0; }
  #side-menu a {
    color: inherit; }
  #side-menu ul {
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 50px 0 0 0; }
    #side-menu ul li {
      border-bottom: 1px solid #000; }
      #side-menu ul li a {
        padding: 10px 30px;
        display: block; }

#hero-video {
  background-color: #4D454D;
  padding: 0;
  padding-top: 0;
  max-height: 650px;
  overflow: hidden;
  position: relative;
  color: #fff; }
  #hero-video #message {
    display: none;
    position: absolute;
    width: 100%;
    top: 130px;
    z-index: 101;
    color: #fff;
    max-width: 600px;
    font-style: italic; }
    #hero-video #message h2 {
      font-size: 72px;
      font-weight: 100;
      text-transform: uppercase; }
  #hero-video #sermon-bar {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 101;
    bottom: 50px;
    height: 91px;
    margin: 0 50px; }
  #hero-video .overlay {
    position: absolute;
    opacity: .6;
    background-color: #FF4500;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block; }
  #hero-video video {
    width: 100%;
    /*position: absolute;*/ }
  #hero-video .sermon-player-hero {
    position: absolute;
    z-index: 200;
    bottom: 50px;
    color: #fff; }
    #hero-video .sermon-player-hero .play-button,
    #hero-video .sermon-player-hero .jp-volume-controls button,
    #hero-video .sermon-player-hero .jp-time-holder {
      color: #00CED1; }
    #hero-video .sermon-player-hero h2 {
      font-size: 120px;
      font-weight: 200;
      font-style: italic; }

#hero-sermon-series {
  background-color: #00CED1;
  color: #fff; }

#hero-sermon,
.sermon-player-hero {
  background-color: #222;
  padding-top: 130px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  margin: 0; }
  #hero-sermon #sermon-player .play-button,
  .sermon-player-hero #sermon-player .play-button {
    font-size: 150px;
    cursor: pointer;
    display: inline-block;
    line-height: 150px; }
    #hero-sermon #sermon-player .play-button .pause,
    .sermon-player-hero #sermon-player .play-button .pause {
      display: none; }
    #hero-sermon #sermon-player .play-button.playing .play,
    .sermon-player-hero #sermon-player .play-button.playing .play {
      display: none; }
    #hero-sermon #sermon-player .play-button.playing .pause,
    .sermon-player-hero #sermon-player .play-button.playing .pause {
      display: block; }
  #hero-sermon #sermon-player .mute,
  #hero-sermon #sermon-player .volume-up,
  .sermon-player-hero #sermon-player .mute,
  .sermon-player-hero #sermon-player .volume-up {
    font-size: 36px; }
  #hero-sermon #sermon-player .volume-up .hide,
  .sermon-player-hero #sermon-player .volume-up .hide {
    display: none; }
  #hero-sermon .jp-audio,
  .sermon-player-hero .jp-audio {
    margin: 0 auto;
    background-color: transparent;
    border: none; }
  #hero-sermon .jp-progress,
  .sermon-player-hero .jp-progress {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px; }
  #hero-sermon .jp-interface,
  .sermon-player-hero .jp-interface {
    background-color: transparent; }
  #hero-sermon .jp-mute,
  #hero-sermon .jp-volume-max,
  .sermon-player-hero .jp-mute,
  .sermon-player-hero .jp-volume-max {
    background: none; }
  #hero-sermon .jp-volume-controls,
  .sermon-player-hero .jp-volume-controls {
    position: relative;
    top: 13px;
    right: 0;
    font-size: 30px; }
    #hero-sermon .jp-volume-controls button,
    .sermon-player-hero .jp-volume-controls button {
      text-indent: inherit;
      overflow: visible;
      padding: 0;
      width: initial;
      height: initial;
      top: -9px;
      line-height: 30px; }
  #hero-sermon .jp-time-holder,
  .sermon-player-hero .jp-time-holder {
    position: relative;
    width: 130px;
    left: 0;
    top: 10px;
    font-size: 20px; }
    #hero-sermon .jp-time-holder > div,
    .sermon-player-hero .jp-time-holder > div {
      text-align: left; }

#hero-watch-live {
  background-color: #4D454D;
  color: #fff;
  border-bottom: 1px solid #555; }
  #hero-watch-live h3 {
    color: #00CED1; }
  #hero-watch-live #video-holder {
    padding: 0; }

#sermon-archive .sermon-preview {
  display: block;
  background-color: #FFFFE0;
  position: relative;
  padding: 10px;
  background-image: url(../images/mop-thumbnail-white.png);
  background-position: center center;
  background-repeat: no-repeat; }
  #sermon-archive .sermon-preview > div {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%; }
  #sermon-archive .sermon-preview .content {
    z-index: 100;
    left: 0;
    padding: 25px;
    height: auto;
    bottom: 0;
    position: relative; }
    #sermon-archive .sermon-preview .content h3 {
      margin: 0;
      font-size: 24px;
      text-transform: lowercase; }
  #sermon-archive .sermon-preview .overlay {
    z-index: 50; }
  #sermon-archive .sermon-preview .background {
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    background-color: #333;
    position: relative;
    height: 250px;
    /*opacity: .08;*/ }
  #sermon-archive .sermon-preview:hover {
    color: inherit; }
    #sermon-archive .sermon-preview:hover .background {
      opacity: 1; }

#hero-give {
  background-color: #6B8E23;
  color: #fff; }

.hero {
  padding: 50px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero.pad-top {
    padding-top: 130px; }

#statement {
  background-color: #FFFFE0;
  color: #4D454D; }
  #statement .btn-default {
    border-color: #4D454D;
    background-color: transparent;
    color: #4D454D; }

#standard {
  background-color: #4D454D; }

#visit {
  color: #999; }
  #visit h3 {
    display: block;
    background-color: transparent;
    text-align: center; }
  #visit #next-event {
    background-color: #CCC;
    margin: 0;
    overflow: hidden;
    border-radius: 5px; }
    #visit #next-event #next-event-date {
      background-color: #333;
      padding: 50px 0;
      border-radius: 5px 0 0 5px;
      height: 100%;
      position: absolute; }
      #visit #next-event #next-event-date #next-event-month {
        display: block;
        font-size: 30px;
        font-weight: 100;
        text-transform: uppercase;
        line-height: 31px; }
      #visit #next-event #next-event-date #next-event-day {
        font-size: 60px;
        line-height: 48px;
        font-weight: bold;
        display: block; }
    #visit #next-event #event-details {
      padding: 30px;
      float: right; }
      #visit #next-event #event-details h4 {
        margin: 0 0 5px 0; }
      #visit #next-event #event-details p {
        font-size: 14px; }
      #visit #next-event #event-details a {
        font-weight: bold;
        color: #999; }
  #visit #event-holder {
    position: absolute;
    bottom: 60px;
    z-index: 100;
    width: 100%;
    margin: 0; }
  #visit #map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; }
  #visit .input-lg {
    height: 51px;
    width: 380px; }

#hero-testify {
  background-color: #FF4500;
  color: #fff; }

#footer {
  background-color: #4D454D;
  color: #666; }
  #footer h3 {
    font-size: 20px; }
  #footer p {
    font-size: 14px;
    color: #999; }
  #footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #footer ul li {
      line-height: 18px;
      color: #999; }
  #footer #logo {
    margin-bottom: 20px; }

#location-bar {
  background-color: #4D454D;
  color: #fff; }
  #location-bar p {
    font-size: 14px; }
  #location-bar a {
    color: #00CED1; }
  #location-bar #location-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #999; }
    #location-bar #location-menu li {
      display: inline-block;
      margin: 0 5px; }
      #location-bar #location-menu li a {
        color: #777;
        line-height: 44px; }
      #location-bar #location-menu li:last-of-type {
        margin: 0; }

@media (max-width: 768px) {
  video {
    display: none; }

  .parallax-window {
    min-height: 200px;
    background: transparent; }

  #visit .input-lg {
    width: 100%; }

  #navigation {
    background-color: #222; }
    #navigation .row {
      padding: 0 20px; }
    #navigation h1#logo img {
      width: inherit;
      height: 60px; }

  #hero-video .sermon-player-hero {
    position: relative; }
    #hero-video .sermon-player-hero h2 {
      font-size: 64px; }

  #hero-watch-live {
    padding-top: 0; }
    #hero-watch-live .row {
      padding: 0; }
    #hero-watch-live #content-area {
      padding: 0 20px; }

  #footer #logo {
    margin-top: 20px; } }

/*# sourceMappingURL=mop2015.css.map */
