$accent-color-one: #00CED1;
$accent-color-two: #FF4500;
$accent-color-three: #6B8E23;
$base-color-one: #4D454D;
$base-color-two: #FFFFE0;

@font-face {
    font-family: 'swistblnk_monthoersregular';
    src: url('../fonts/monthoers/Monthoers-webfont.eot');
    src: url('../fonts/monthoers/Monthoers-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monthoers/Monthoers-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #333;

	&.customize-support {

		#navigation {
			top: 32px;
		}

	}

}

a {
	text-decoration: none;
	font-weight: 200;
	color: inherit;
	outline: none;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}

}

p {
	font-size: 18px;
	max-width: 650px;
	font-weight: 200;
	margin: 0 auto;
	margin-bottom: 30px;
}

ul {
	margin-bottom: 30px;
}

.fade {
	opacity: 0;
}

.btn {
	line-height: 34px;
	min-width: 150px;
	border-width: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: inherit;
	background-color: transparent;
	font-weight: bold;

	&.white {
		border-color: #fff;
		color: #fff;
	}

}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.container-fluid {
	background-color: #fff;
	color: #777;
	position: relative;

	&.content {

		> .row {
			max-width: 1000px;
	  		margin: 0 auto;
		}

	}

	h5 {
		text-transform: uppercase;
	}

	h3 {
		font-size: 50px;
		/*text-transform: lowercase;*/
		/*font-family: 'swistblnk_monthoersregular';*/
		font-weight: 200;
		letter-spacing: 1px;
	}

}

.row {
	padding: 0 50px;
	margin: 0;
}

#navigation {
	background-color: transparent;
	color: #fff;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	margin: 0;
	/*font-family: 'swistblnk_monthoersregular';*/
	text-transform: lowercase;
	font-size: 22px;
	letter-spacing: 0.5px;

	/*transition: 30ms;*/

	h1#logo {
		display: inline-block;
		margin: 0;
		font-weight: 100;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 44px;

		img {
			height: 80px;
		}

	}

	a {

		&:hover {
			background-color: transparent;
			color: inherit;
		}

	}

	&.dark {
		background-color: $base-color-one;
	}

}

#side-menu {
	background: #222;
	color: #eee;
	position: fixed;
	height: 100%;
	width: 300px;
	right: -300px;
	z-index: 99999;
	transition: 1s;
	/*font-family: 'swistblnk_monthoersregular';*/
	text-transform: lowercase;
	font-size: 22px;
	letter-spacing: 0.5px;

	.close-menu {
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
	}

	&.open {
		right: 0;
	}

	a {
		color: inherit;
	}

	ul {
		list-style: none;
		font-size: 20px;
		padding: 0;
		margin: 50px 0 0 0;

		li {
			border-bottom: 1px solid #000;

			a {
				padding: 10px 30px;
				display: block;
			}

		}

	}
}

#hero-video {
	background-color: $base-color-one;
	padding: 0;
	padding-top: 0;
	max-height: 650px;
	overflow: hidden;
	position: relative;
	color: #fff;

	#message {
		display: none;
		position: absolute;
		width: 100%;
		top: 130px;
		z-index: 101;
		color:  #fff;
		max-width: 600px;
		font-style: italic;

		h2 {
			font-size: 72px;
			font-weight: 100;
			text-transform: uppercase;
		}

	}

	#sermon-bar {
		position: absolute;
		display: block;
		width: 100%;
		z-index: 101;
		bottom: 50px;
		height: 91px;
		margin: 0 50px;
	}

	.overlay {
		position: absolute;
		opacity: .6;
		background-color: $accent-color-two;
		width: 100%;
		height: 100%;
		z-index: 100;
		display: block;
	}

	video {
		width: 100%;
		/*position: absolute;*/
	}

	.sermon-player-hero {
		position: absolute;
		z-index: 200;
		bottom: 50px;
		color: #fff;

		.play-button,
		.jp-volume-controls button,
		.jp-time-holder {
			color: $accent-color-one;
		}

		h2 {
			font-size: 120px;
			font-weight: 200;
			font-style: italic;
		}

	}

}

#hero-sermon-series {
	background-color: $accent-color-one;
	color: #fff;
}

#hero-sermon,
.sermon-player-hero {
	background-color: #222;
	padding-top: 130px;
	width: 100%;
	background-color: transparent;
	text-align: center;
	margin: 0;

	#sermon-player {

		.play-button {
			font-size: 150px;
			cursor: pointer;
			display: inline-block;
			line-height: 150px;

			.pause {
				display: none;
			}

			&.playing  {

				.play {
					display: none;
				}

				.pause {
					display: block;
				}
			}
		}

		.mute,
		.volume-up {
			font-size: 36px;
		}

		.volume-up {

			.hide {
				display: none;
			}

		}

	}

	.jp-audio {
		margin: 0 auto;
		background-color: transparent;
		border: none;
	}

	.jp-progress {
		position: relative;
		width: 100%;
		left: 0;
		top: 0;
		border-radius: 10px;
	}

	.jp-interface {
		background-color: transparent;
	}

	.jp-mute,
	.jp-volume-max {
		background: none;
	}

	.jp-volume-controls {
		position: relative;
		top: 13px;
		right: 0;
		font-size: 30px;

		button {
			text-indent: inherit;
			overflow: visible;
			padding: 0;
			width: initial;
			height: initial;
			top: -9px;
			line-height: 30px;
		}

	}

	.jp-time-holder {
		position: relative;
		width: 130px;
		left: 0;
		top: 10px;
		font-size: 20px;

		> div {
			text-align: left;
		}
	}

}

#hero-watch-live {
	background-color: #4D454D;
	color: #fff;
	border-bottom: 1px solid #555;

	h3 {
		color: $accent-color-one;
	}

	#video-holder {
		padding: 0;
	}

}

#sermon-archive {

	.sermon-preview {
		display: block;
		background-color: $base-color-two;
		position: relative;
		padding: 10px;
		background-image: url(../images/mop-thumbnail-white.png);
		background-position: center center;
		background-repeat: no-repeat;

		> div {
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
		}

		.content {
			z-index: 100;
			left: 0;
			padding: 25px;
			height: auto;
			bottom: 0;
			position: relative;

			h3 {
				margin: 0;
				font-size: 24px;
				text-transform: lowercase;
			}

		}

		.overlay {
			z-index: 50;
		}

		.background {
			background-position: center center;
			background-repeat: no-repeat;
			z-index: 0;
			background-color: #333;
			position: relative;
			height: 250px;
			/*opacity: .08;*/
		}

		&:hover {
			color: inherit;

			.background {
				opacity: 1;
			}

		}

	}

}

#hero-give {
	background-color: $accent-color-three;
	color: #fff;
}

.hero {
	padding: 50px 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&.pad-top {
		padding-top: 130px;
	}

}

#statement {
	background-color: $base-color-two;
	color: $base-color-one;

	.btn-default {
		border-color: $base-color-one;
		background-color: transparent;
		color: $base-color-one;
	}
}

#standard {
	background-color: $base-color-one;
}

#visit {
	color: #999;

	h3 {
		display: block;
		background-color: transparent;
		text-align: center;
	}

	#next-event {
		background-color: #CCC;
		margin: 0;
		overflow: hidden;
		border-radius: 5px;

		#next-event-date {
			background-color: #333;
			padding: 50px 0;
			border-radius: 5px 0 0 5px;
			height: 100%;
			position: absolute;

			#next-event-month {
				display: block;
				font-size: 30px;
				font-weight: 100;
				text-transform: uppercase;
				line-height: 31px;
			}

			#next-event-day {
				font-size: 60px;
				line-height: 48px;
				font-weight: bold;
				display: block;
			}

		}

		#event-details {
			padding: 30px;
			float: right;

			h4 {
				margin: 0 0 5px 0;
			}

			p {
				font-size: 14px;
			}

			a {
				font-weight: bold;
				color: #999;
			}
		}

	}

	#event-holder {
		position: absolute;
		bottom: 60px;
		z-index: 100;
		width: 100%;
		margin: 0;
	}

	#map {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	.input-lg {
		height: 51px;
  		width: 380px;
	}

}

#hero-testify {
	background-color: $accent-color-two;
	color: #fff;
}

#footer {
	background-color: $base-color-one;
	color: #666;

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
		color: #999;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			line-height: 18px;
			color: #999;
		}
	}

	#logo {
		margin-bottom: 20px;
	}

}

#location-bar {
	background-color: $base-color-one;
	color: #fff;

	p {
		font-size: 14px;
	}

	a {
		color: $accent-color-one;
	}

	#location-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		color: #999;

		li {
			display: inline-block;
			margin: 0 5px;

			a {
				color: #777;
				line-height: 44px;
			}

			&:last-of-type {
				margin: 0;
			}

		}

	}

}



@media ( max-width: 768px ) {

	video {
		display: none;
	}

	.parallax-window {
	    min-height: 200px;
	    background: transparent;
	}

	#visit {

		.input-lg {
			width: 100%;
		}

	}

	#navigation {
		background-color: #222;

		.row {
			padding: 0 20px;
		}

		h1#logo {

			img {
				width: inherit;
				height: 60px;
			}

		}

	}

	#hero-video {

		.sermon-player-hero {
			position: relative;

			h2 {
				font-size: 64px;
			}

		}

	}

	#hero-watch-live {
		padding-top: 0;

		.row {
			padding: 0;
		}

		#content-area {
			padding: 0 20px;
		}

	}

	#footer {

		#logo {
			margin-top: 20px;
		}

	}

}